<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
      <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">
      <span class="dasboard-text">Resgister Bus</span>
    </a>
  </nav>
  
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
  
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/dashboard">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/register-a-bus">
                <i class="fas fa-registered"></i>Resgister Bus
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Bus Details</h1>
          </div>
          <form>
            <div class="form-group">
              <label for="busNumber">Bus Number</label>
              <input type="text" class="form-control" formControlName="busNumberInput" placeholder="NA - 2140">
            </div>
            <div class="form-group">
                <label for="busNumber">Licen Date</label>
                    <input class="form-control" type="date" value="2020-10-19" formControlName="example-date-input">
                  
            </div>
            <div class="form-group">
              <label for="example-number-input" >Amout</label>
                <input class="form-control" type="number" value="42" formControlName="example-number-input">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" formControlName="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
            </div>
          </form>
        </div>
      </main>
    </div>
  </div>